.body {
    width: auto;
    height: auto;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: darkgreen;
  }

.box {
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    min-width: 50%;
    max-width: fit-content;
    border-radius: 5px;
    background-color: #ffffff99;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    justify-content: center;
}

.true-center {
    margin:0; 
    position:absolute; 
    left:50%; 
    top:50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}

.invalid {
    border-color: red;
}

.active-player {
    border-color: gold;
    border-width: 5px;
}

.busted-player {
    border-color: darkred;
    border-width: 5px;
}

.inactive-player {
    background-color: #6e6e6e99;
}