.body {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: darkgreen;
  }

/*.row {
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-self: center;
    width: fit-content;
    margin: auto;
}*/

.box {
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    min-width: 50%;
    max-width: fit-content;
    border-radius: 5px;
    background-color: #ffffff99;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    justify-content: center;
}

.active-player {
    border-color: gold;
    border-width: 5px;
}

.busted-player {
    border-color: darkred;
    border-width: 5px;
}

/* Writing CSS makes me want to tear my head off*/